{
  "mturk": {
    "production": "https://www.mturk.com/mturk/externalSubmit",
    "development": "https://workersandbox.mturk.com/mturk/externalSubmit"
  },
  // production | development
  "mode": "development",
  // if server is not null, POST answers there. Otherwise POST directly to AMT.
  server: "https://localhost:4000" | null,
  "pollingInterval": 10000,

  "google": {
    "clientId": "SOMEKEYID.apps.googleusercontent.com"
  },

  // key for authentication data stored in local storage.
  "localStorageKey": "crowdaiAuth",
  "axios": {
    "timeout": 15000
  }
}

