{
  "mturk": {
    "production": "https://www.mturk.com/mturk/externalSubmit",
    "development": "https://workersandbox.mturk.com/mturk/externalSubmit"
  },
  // production | development
  "mode": "development",
  // if server is not null, POST answers there. Otherwise POST directly to AMT.
  server: "http://localhost:4000" | null,

  // polling intervals configuration
  "polling": {
    // interval for checking the worker assignment status
    "workerAssignment": 10000,
    // interval for checking the job state
    "jobState": 10000,
    // interval for checking the progress of the CSV processing after creation a job.
    "jobCheckCSV": 10000
  },

  "google": {
    "clientId": "SOMEKEYID.apps.googleusercontent.com"
  },

  // key for authentication data stored in local storage.
  "localStorageKey": "crowdaiAuth",
  "axios": {
    "timeout": 15000
  },
  "toastDismissTimeout": 2000
}

