{
  "db": {
    "user": "admin",
    "password": "123456",
    "host": "localhost",
    "bucket": "crowdai-amt"
  },
  "rules": {
    // number of task a worker can answer.
    "maxTasks": 2,
    // worker's reward per solved task
    "taskReward": 0.5
  }
}
