{
  "db": {
    "user": "admin",
    "password": "123456",
    "host": "localhost",
    "bucket": "crowdai-amt"
  },
  "rules": {
    // number of task a worker can answer.
    "maxTasks": 4,
    // worker's reward per solved task
    "taskReward": 0.5,
    // Test Frequency
    "testFrequency": 2
  }
}
