*~

typings/*
typings.json
.vscode/*
jsconfig.json
node_modules/*
npm-debug.log

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

#mergetool
*.BASE*
*.LOCAL*
*.REMOTE*
*.BACKUP*

config/config.json
config/config.dev.json
config/config.prod.json
config/database.dev.json
config/database.prod.json
config/database.json
send/*
